@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  }

  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .font-geist {
    font-family: 'Geist', sans-serif !important;
  }

  .font-geist-mono {
    font-family: 'Geist Mono', monospace !important;
  }
}
